/*
 * SPDX-FileCopyrightText: 2025 The Cipher Host Team <team@cipher.host>
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@use "variables" as *;

body {
	color: $fgSecondary;
	font-family: system-ui, sans-serif;
	font-size: 1.125rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-bottom: 0.25em;
	color: $fgPrimary;
	line-height: 1;
	text-wrap: balance;
}

h1,
.h1,
%h1 {
	font-size: 2rem;
}

h2,
.h2,
%h2 {
	font-size: 1.5rem;
}

h3,
.h3,
%h3 {
	font-size: 1.25rem;
}

.uRichText {
	line-height: 1.5;
	text-wrap: pretty;

	:where(p) {
		margin-top: 0.75em;
	}

	:where(ul, ol, pre, img, picture) {
		margin-top: 0.25em;
	}

	:where(h1, h2, h3, h4, h5, h6) {
		margin-top: 1.5em;
	}

	> :where(:first-child) {
		margin-top: 0;
	}
}

code {
	display: inline-block;
	overflow: auto;
	max-width: 100%;
	padding: 0.15em 0.5em;
	border-radius: 6px;
	background: $bgTertiary;
	color: inherit;
	font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
	font-size: 85%;
	vertical-align: middle;
}

a:where(:not([class])),
.a {
	color: $fgPrimary;
	text-decoration: underline;

	&:hover {
		color: $fgSecondary;
	}
}
