<!--
SPDX-FileCopyrightText: 2025 The Cipher Host Team <team@cipher.host>

SPDX-License-Identifier: EUPL-1.2
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search results • {{.Service.Name}}</title>
    <meta name="robots" content="noindex, follow">

    <meta property="og:locale" content="{{if .Service.SEO.Locale}}{{.Service.SEO.Locale}}{{else}}en_US{{end}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Search results • {{.Service.Name}}">
    <meta property="og:url" content="{{.Service.Homepage}}/search?q={{.Query}}">
    <meta property="og:site_name" content="{{.Service.Name}}">
    {{if .Service.SEO.Image}}
    <meta property="og:image" content="{{.Service.SEO.Image}}">
    {{if .Service.SEO.ImageAlt}}
    <meta property="og:image:alt" content="{{.Service.SEO.ImageAlt}}">
    {{end}}
    {{end}}

    <link rel="stylesheet" href="/{{mainStylePath}}" type="text/css" media="all">
    {{template "favicon" .}}
  </head>

  <body id="search" class="search">
    {{template "skipLink"}}

    {{template "header" .}}

    <main role="main" id="main" class="search__main">
      <header class="pageDescription mNoCard search__description">
        <h1 class="pageDescription__title search__descriptionTitle">Search results for: {{.Query}}</h1>
      </header>

      {{if .NoResults}}
      <div class="search__empty uSurface">
        <p class="search__emptyText">No packages found matching "{{.Query}}".</p>
        <a href="/" class="search__link a">Return to homepage</a>
      </div>
      {{else}}
      <ul class="search__results">
        {{range .Results}}
        <li class="packageCard__wrapper">
          <article class="packageCard" aria-label="{{.Name}}">
            <h2 class="packageCard__title">
              <a class="packageCard__titleLink" href="/{{.Name}}" rel="bookmark">{{.Name}}</a>
            </h2>
            <p class="packageCard__description">{{.Description}}</p>

            <footer class="packageMeta">
              <div class="packageMeta__stats">
                <p class="packageMeta__stat mLicense packageMeta__item">
                  <strong>{{.License}}</strong> License
                </p>
              </div>

              <div role="navigation" class="packageMeta__links">
                <a class="packageMeta__link packageMeta__item"
                   href="https://pkg.go.dev/{{$.Service.BaseURL}}/{{.Name}}"
                   rel="noopener noreferrer alternate help">
                  Documentation
                </a>
                <a class="packageMeta__link packageMeta__item"
                   href="{{.Repository}}"
                   rel="noopener noreferrer alternate">
                  Repository
                </a>
              </div>
            </footer>
          </article>
        </li>
        {{end}}
      </ul>
      {{end}}

      {{template "search_pagination" .}}
    </main>

    {{template "footer" .}}
  </body>
</html>
